@font-face {
    font-family: 'Kalameh';
    src: url("/fonts/kalameh/eot/KalamehWeb_Regular.eot"); /* IE9 Compat Modes */
    src: local('Kalameh'), local('Kalameh_Regular'),
    url("/fonts/kalameh/eot/KalamehWeb_Regular.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/kalameh/woff2/KalamehWeb_Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/kalameh/woff/KalamehWeb_Regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/kalameh/ttf/KalamehWeb_Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Kalameh Black';
    src: url("/fonts/kalameh/eot/KalamehWeb_Black.eot"); /* IE9 Compat Modes */
    src: local('Kalameh Black'), local('Kalameh_Black'),
    url("/fonts/kalameh/eot/KalamehWeb_Black.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/kalameh/woff2/KalamehWeb_Black.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/kalameh/woff/KalamehWeb_Black.woff') format('woff'), /* Modern Browsers */
    url('/fonts/kalameh/ttf/KalamehWeb_Black.ttf') format('truetype'); /* Safari, Android, iOS */
}


*{
    transition: all 300ms linear;
}

body{
    font-family: Kalameh, serif;
    direction: rtl;
    text-align: right;

    background-image: url("/imgs/bg-landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

.main-container {
    background-color: rgba(255,255,255,.95);
    margin: 0;
    min-height: 100vh;

    display: flex;

    overflow: hidden;
}

.landing-main {
    flex: 1;
    position: relative;
    padding-bottom: 100px;
}

.main-background-text {
    font-family: "Kalameh Black", serif;
    color: #F3F3F3;
    font-size: 16em;
    white-space: nowrap;

    position: absolute;
    top: 20%;
    right: -120px;

    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    z-index: -1;

    animation: bg-text-animate 1s ease-out;
}
@keyframes bg-text-animate {
    0% {
        top: -20%;
        opacity: 0;
    }
    100% {
        top: 20%;
        opacity: 1;
    }
}

.welcome-text {
    margin-top: 120px;
    margin-right: 160px;
    animation: welcome-text-animate 1s ease-out;
}
@keyframes welcome-text-animate {
    0% {
        margin-right: -360px;
    }
    100% {
        margin-right: 160px;
    }
}


.welcome-span {
    font-size: 64px;
}

.welcome-header {
    margin: 0;
    color: #7591EF;
    font-family: "kalameh Black", serif;
    font-size: 96px;
    display: inline-block;
    cursor: default;
}
.welcome-header:active {
    animation: welcome-header-animate .3s ease-out;
}
@keyframes welcome-header-animate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    75% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.horizontal-row {
    display: inline-block;
    margin: 0;
    border-width: 4px;
    border-radius: 100px;
}
.horizontal-row.first{
    border-color: transparent;
    background-color: #C0A4CB;
    width: 60%;
}
.horizontal-row.second{
    border-color: transparent;
    background-color: #9AB0EC;
    width: 20%;

    margin: 0 2%;
}
.horizontal-row.third{
    border-color: transparent;
    background-color: #C0A4CB;
    width: 10%;
}
.cta {
    margin-right: 160px;
    animation: cta-animate 1.5s ease-out;
}
@keyframes cta-animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.description {
    font-size: 24px;
}
.cta button {
    font-size: 24px;
    font-family: "Kalameh Black", serif;
    border-radius: 100px;
    padding: 16px 64px;
    border: none;
    background-color: #C0A4CB;
    color: white;
    cursor: pointer;
    min-width: 50%;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
}
.cta button:hover {
    box-shadow: 0 0 32px 4px rgba(185, 121, 255, .25);
    transform: scale(1.025);
}
.cta > button a {
    text-decoration: none;
    color: inherit;
}
.footer {
    display: flex;
    position: absolute;
    right: 160px;
    bottom: 48px;
}
.copyright svg,
.copyright svg image,
.copyright img{
    /*width: 100px;*/
    height: 30px;
    margin-left: 8px;
}
.socialMedia{
    height: 30px;
    margin: 0 4px;
}
.socialMedia svg,
.socialMedia svg *{
    height: 30px;
}


.landing-features {
    flex: 1;
    text-align: left;
    padding-left: 120px;
}
.features-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    min-height: 100vh;
    transform: rotate(30deg);
    animation: grid-animation 1s ease-out;
}
@keyframes grid-animation {
    0% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

.features-grid div{
    padding: 16px 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
}
.features-grid div.first{background-color: #b3c7f8;}
.features-grid div.second{background-color: #9AB0EC;}
.features-grid div.third{background-color: #819add;}
.features-grid div.fourth{background-color: #b3c7f8;}
.features-grid div.fifth{background-color: #9AB0EC;}
.features-grid div.sixth{background-color: #8190cb;}
.features-grid div.seventh{background-color: #819add;}
.features-grid div.eighth{background-color: #9AB0EC;}
.features-grid>div:hover{
    transform: scale(1.05);
    border-radius: 16px;
    box-shadow: 0 0 54px 0 rgba(26, 103, 169, .35);
}

@keyframes feature-grid-animation {
    0% {
        transform: scale(1);
        border-radius: 0;
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
    50% {
        transform: scale(1.05);
        border-radius: 16px;
        box-shadow: 0 0 54px 0 rgba(26, 103, 169, .35);
    }
    100% {
        transform: scale(1);
        border-radius: 0;
        box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
}
.features-grid div.first{
    animation-name: feature-grid-animation;
    animation-duration: .5s;
    animation-timing-function: ease;
}
.features-grid div.fourth{
    animation-name: feature-grid-animation;
    animation-duration: 1s;
    animation-timing-function: ease;
}
.features-grid div.fifth{
    animation-name: feature-grid-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}
.features-grid div.eighth{
    animation-name: feature-grid-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
}



.features-grid div .icon svg{
    height: 56px;
    width: 56px;
}
.features-grid div .icon svg *{
    fill: white;
}


/*++++++++++++++*/
/*++Responsive++*/
/*++++++++++++++*/
@media (max-width: 1440px){

    .features-grid div{
        padding: 16px 16px;
    }

    .horizontal-row.second {
        margin: 0 1%;
    }

}
@media (max-width: 1280px) {

    .welcome-text{
        margin: 120px 64px 0 16px;
    }
    .horizontal-row.first{
        width: 50%;
    }
    .horizontal-row.second{
        width: 10%;
    }
    .horizontal-row.third{
        width: 5%;
    }
    .cta{
        margin-right: 64px;
        margin-left: 16px;
    }
    .footer{
        right: 64px;
    }

    .landing-features {
        padding-left: 0;
    }
    .features-grid {
        transform: rotate(0deg);
        padding: 16px;
        box-sizing: border-box;
    }

}
@media (max-width: 864px) {
    .main-container {
        flex-direction: column;
    }

    .landing-main {
        min-height: 86vh;
    }

    .welcome-text{
        margin: 120px 64px 0 64px;
    }
    .horizontal-row.first{
        width: 60%;
    }
    .horizontal-row.second{
        width: 15%;
    }
    .horizontal-row.third{
        width: 10%;
    }
    .cta{
        margin-right: 64px;
        margin-left: 64px;
    }

    .landing-features {
        padding: 0 64px;
    }
    .features-grid {
        display: grid;
        transform: rotate(0deg);
        padding: 0;
        box-sizing: border-box;
    }

}
@media (max-width: 480px) {
    .welcome-text {
        margin: 120px 30px 0;
    }
    .welcome-header {
        font-size: 80px;
    }
    .welcome-span {
        font-size: 48px;
    }
    .cta{
        margin-right: 30px;
        margin-left: 30px;
    }
    .description{
        font-size: 18px;
        margin: 16px 0 64px;
    }
    .cta button{
        width: 100%;
    }
    .footer{
        right: 30px;
    }
    .landing-features{
        padding: 0 30px 32px;
    }
}
@media (max-width: 360px) and (max-height: 640px){
    .welcome-text {
        margin: 48px 30px 0;
    }
    .welcome-span {
        font-size: 32px;
    }
    .welcome-header {
        font-size: 72px;
    }
    .description {
        font-size: 18px;
        margin: 16px 0 32px;
    }
    .cta button {
        font-size: 20px;
    }
}
